<?xml version="1.0"?>
<!--
  Copyright 2009 MONOGRAM Technologies
  
  This file is part of MONOGRAM EPayment libraries

  MONOGRAM EPayment libraries is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MONOGRAM EPayment libraries is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with MONOGRAM EPayment libraries.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="SLSP_SporoPay_UrlBase" value="http://epaymentsimulator.monogram.sk/SLSP_SporoPay.aspx"/>
    <add key="SLSP_SporoPay_Pu_predcislo" value="000000"/>
    <add key="SLSP_SporoPay_Pu_cislo" value="0013662162"/>
    <add key="SLSP_SporoPay_SharedSecret" value="Z3qY08EpvLlAAoMZdnyUdQ=="/>

    <add key="TB_TatraPay_UrlBase" value="http://epaymentsimulator.monogram.sk/TB_TatraPay.aspx"/>
    <add key="TB_TatraPay_Mid" value="aoj"/>
    <add key="TB_TatraPay_SharedSecret" value="87651234"/>
    
    <add key="TB_CardPay_UrlBase" value="http://epaymentsimulator.monogram.sk/TB_CardPay.aspx"/>
    <add key="TB_CardPay_Mid" value="1joa"/>
    <add key="TB_CardPay_SharedSecret" value="43218765"/>
    
    <add key="VUB_EPlatba_UrlBase" value="http://epaymentsimulator.monogram.sk/VUB_EPlatba.aspx"/>
    <add key="VUB_EPlatba_Mid" value="1111ahoj"/>
    <add key="VUB_EPlatba_SharedSecret" value="87654321"/>

    <add key="VUB_EPlatba2_HMAC_UrlBase" value="http://epaymentsimulator.monogram.sk/VUB_EPlatba2_HMAC.aspx"/>
    <add key="VUB_EPlatba2_HMAC_Mid" value="111ahoj3"/>
    <add key="VUB_EPlatba2_HMAC_SharedSecret" value="abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ42"/>

    <add key="UCB_UniPlatba_UrlBase" value="http://epaymentsimulator.monogram.sk/UCB_UniPlatba.aspx"/>
    <add key="UCB_UniPlatba_Mid" value="125587519"/>
    <add key="UCB_UniPlatba_SharedSecret" value="ABCDEFGH"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
